<div id="navigation">
  <ul id="nav-list">
    <li class="nav-item">
      <a href="http://martynrushton.com">Home</a>
    </li>
    <li class="nav-item">
      <a href="http://martynrushton.com/resume">Résumé</a>
    </li>
    <li class="nav-item">
      <a href="http://projects.martynrushton.com">Projects</a>
    </li>
    <li class="nav-item">
      <a href="http://blog.martynrushton.com">Blog</a>
    </li>
    <li class="nav-item">
      <a href="http://martynrushton.com/contact">Contact</a>
    </li>
  </ul>
</div>
<div class="container">
